:root {
  --brand-color: #2196f3;
  --primary-color-hover: #2196f3;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --button-background-color: #f5f4fa;
  --logo-secondary-footer: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-text);
  max-width: 1600px;
  margin: 0 auto;

  background: #ffffff;
}

ul,
li,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.section {
  padding-bottom: 94px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 215px;
}

.main-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;

  /* identical to box height */
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--brand-color);
}

.logo-secondary {
  color: var(--primary-color-text);
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  display: flex;
  align-items: center;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 254px;
  margin-left: 93px;
}

.navigation-item a {
  color: var(--primary-color-text);
  text-decoration: none;
  display: block;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: var(--primary-color-hover);
}

.contact {
  list-style: none;
  display: flex;
  margin-right: 227px;
}

.contact-item a {
  color: var(--secondary-color-text);
  text-decoration: none;
}

.contact-item:last-child {
  margin-left: 50px;
}

.contact-item a:hover,
.contact-item a:focus {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.main-banner {
  background-color: #2f303a;
  height: 600px;
  align-items: center;
}

.motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;

  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto 30px;
  padding-top: 200px;
}

.buy-services-button {
  /* width: 200px;
  height: 50px; */
  display: block;
  height: 3.1em;
  margin: 0 auto;

  background: var(--primary-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.buy-services-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
  padding: 0 10px 0 10px;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--logo-secondary-footer);
}

.short-info {
  display: flex;
  list-style: none;
  width: 1170px;
  margin: 94px auto 0;
}

.short-info-item {
  width: 270px;
}

.short-info-item:not(:last-child) {
  margin-right: 30px;
}

.short-info-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color-text);
  margin-bottom: 10px;
}

.short-info-item-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--secondary-color-text);
}

.specialities-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color-text);
}

.specialities {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px 215px 0;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px 215px 0 215px;
}

.team-list-item-container {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 30px 0 10px 0;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color-text);
}

.worker-profession {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 30px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color-text);
}

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--brand-color);

  text-decoration: none;

  display: block;
  padding: 60px 215px 20px;
}

.logo-secondary-footer {
  color: var(--logo-secondary-footer);
}

.footer-contact {
  list-style: none;
  margin-left: 215px;
  padding-bottom: 60px;
}

.footer-contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--logo-secondary-footer);
}

.footer-contact-item a {
  color: var(--secondary-color-text);
  text-decoration: none;
}

.footer-contact-item a:hover,
.footer-contact-item a:focus {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.projects-sort {
  list-style: none;
  display: flex;
  justify-content: center;
  /* margin-top: 94px; */
}

.sort-buttons-apperance {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color-text);

  background: var(--button-background-color);
  border-radius: 4px;

  border: 0;
  padding: 6px 22px 6px 22px;
}

.sort-buttons:not(:last-child) {
  margin-right: 8px;
}

.sort-buttons-apperance:hover,
.sort-buttons-apperance:focus {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1170px;

  margin: 50px auto 94px;
  gap: 30px;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.single-project-container {
  border: 1px solid #eeeeee;
  width: 370px;
}

.project-title {
  margin: 20px 0 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

.project-type {
  padding-bottom: 20px;
  color: var(--secondary-color-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9em;
}
